# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as p

### Step 2. Import the  datasets [cars1.csv](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2.csv](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv) from the folder

In [10]:
df1 = pd.read_csv('C:\\Users\\Yash\\Desktop\\STATS\\CASE STUDY FOR PANDAS\\2. Pandas Basic Exercises\\Exercise Data Files\\Pandas Exercise Simple Joins files\\cars1.csv')
df2 = pd.read_csv('C:\\Users\\Yash\\Desktop\\STATS\\CASE STUDY FOR PANDAS\\2. Pandas Basic Exercises\\Exercise Data Files\\Pandas Exercise Simple Joins files\\cars2.csv')

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [11]:
cars1=df1
cars2=df2

### Step 4. It seems our first dataset has some unnamed blank columns, fix cars1

In [12]:
cars1=cars1.loc[:,'mpg':'car']
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [13]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [14]:
cars=cars1.append(cars2)
print(cars.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

### Step 7. There is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [15]:
owners=np.random.randint(15000,73000,cars.shape[0])
owners

array([21121, 19565, 34191, 66422, 56994, 31485, 26097, 69437, 60129,
       37147, 56482, 59068, 57531, 33363, 48549, 31474, 49885, 65679,
       57205, 46197, 36982, 24954, 34827, 30159, 64860, 63076, 65645,
       51176, 47958, 27903, 31310, 45381, 30446, 62684, 43893, 28497,
       48076, 58928, 61336, 36871, 26963, 37455, 24821, 64923, 36064,
       61912, 68177, 53547, 25748, 60605, 47499, 31901, 28543, 25840,
       57347, 54840, 21444, 65130, 33407, 35485, 27223, 52709, 15173,
       56887, 46782, 28863, 57519, 16966, 69897, 54038, 16758, 33614,
       56319, 71887, 33400, 60677, 47108, 64266, 50270, 67141, 52902,
       25552, 34324, 59080, 43081, 51421, 18933, 28005, 35967, 66261,
       22028, 42236, 49924, 15657, 66378, 49144, 70461, 50493, 43270,
       35265, 37687, 62915, 15103, 41528, 44146, 70576, 63153, 20355,
       60365, 22574, 23963, 30994, 72183, 39156, 31586, 47620, 64634,
       42080, 24741, 54635, 32295, 52704, 30085, 49942, 70131, 20740,
       18681, 53679, 32141, 18138, 19101, 37398, 45308, 35410, 44755,
       72006, 32459, 36216, 43507, 27042, 51825, 34496, 67970, 50110,
       69814, 15992, 44946, 30844, 39672, 65508, 25988, 35221, 20882,
       23647, 52171, 34108, 37313, 37458, 33109, 63390, 56484, 49935,
       42913, 31844, 16961, 32782, 61343, 38845, 32213, 29815, 34619,
       50520, 20558, 41491, 64197, 42053, 43665, 34047, 18260, 59457,
       37601, 46658, 51298, 51423, 31720, 72397, 51486, 25283, 30927,
       17992, 48630, 31554, 63050, 32320, 24633, 28397, 35329, 64078,
       33890, 65953, 62249, 72678, 59025, 25135, 54005, 32653, 69283,
       36023, 60524, 31346, 19440, 18897, 56868, 42983, 65009, 40497,
       23226, 44499, 37918, 64203, 19249, 31503, 62298, 35204, 54409,
       67932, 15782, 25601, 23610, 26327, 22078, 65008, 17746, 27793,
       22801, 32068, 50405, 47481, 26382, 64536, 20114, 27272, 36362,
       19415, 46343, 69600, 33806, 53033, 43682, 28387, 38670, 68035,
       20535, 66746, 61554, 48961, 61413, 46639, 15596, 34701, 58924,
       20467, 43957, 21216, 58912, 57591, 33709, 16452, 35358, 24509,
       45278, 71883, 43140, 51504, 26393, 39169, 19929, 52669, 44952,
       56337, 67679, 50465, 51024, 67613, 56572, 55973, 16747, 71437,
       60001, 41725, 61050, 24359, 15865, 23601, 41178, 28042, 34600,
       27296, 32007, 68403, 59200, 63604, 33036, 29659, 33341, 47288,
       43522, 49648, 15813, 42127, 66882, 54652, 64016, 17731, 67262,
       62428, 27934, 51882, 35786, 21136, 41685, 38260, 28746, 43382,
       23562, 24593, 62237, 67558, 66184, 36800, 25836, 59214, 34254,
       53195, 18107, 72548, 41887, 53871, 59085, 61401, 28655, 39429,
       18104, 47289, 44905, 26052, 20565, 28705, 68351, 15963, 64203,
       47553, 64409, 45445, 24530, 16327, 27854, 46894, 72036, 37868,
       28685, 53093, 55882, 32100, 63842, 60865, 41276, 46603, 18830,
       51172, 61410, 31816, 57336, 69038, 19187, 25991, 41891, 31190,
       61938, 35217, 66559, 58198, 60602, 28786, 23163, 36712, 19237,
       61605, 26662, 48510, 50872, 15448, 61413, 51446, 44382, 64059,
       61037, 27123])

### Step 8. Add the column owners to cars

In [16]:
cars['owners']=owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,21121
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,19565
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,34191
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,66422
4,17.0,8,302,140,3449,10.5,70,1,ford torino,56994